extends layout

block main
  header
    h1 Where's My Pi?
    .ip Showing devices with public IP address #{ip}
  table
    thead.thead-inverse
      tr
        th Name
        th Location
    tbody
      each location, name in locations
        tr
          td(width='30%') #{name}
          td(width='70%')
            a(href=location) #{location}
